// color variables used every so often

$gruvbox-bg0-h: #1e1d21;
$gruvbox-bg: #282828;
$gruvbox-bg1: #3c363b;
$gruvbox-fg: #d3c3e9;
$gruvbox-purp: #625e77;
$bold: #fdf0ff;
$dropshadow-text: #1c1c1f;

$dropshadow-nav: #1c1c1f5e;
$gruvbox-fg-nav: #d3c3e9c5;

$bg-gradient-base: rgb(40,40,40);
$bg-gradient: radial-gradient(circle, #53495a 0%, #2c2631 24%, #282828 100%);

$bsky-bg: #1a364e;
$bsky-fg: #c4e3ff;

$link-bg: rgba(255, 218, 255, 0.15);