@keyframes target-attention {
  0% { background-color: rgba(lavender, 1); color: black;}
  20% { background-color: rgba(lavender, 1.0); color: black;}
  100% { background-color: rgba(#2e2d32, 1); color: inherit;}
}

@keyframes target-blink {
  0% { background-color: rgba(#34323a, 1); color: inherit}
  100% { background-color: rgba(#2e2d32, 1); }
}

#outer-container {
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.4rem,1.2vw,2.5rem);
}

#tableofcontents {
  background: #2c2631;
  border-radius: 8px;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin-bottom: 1rem;
  
  strong {
    font-size: 1.2rem;
  }
  code {
    color: #d3c3e9;
    text-decoration: underline;
    margin-bottom: 0;
  }
}

ol, li {
  line-height: 1.8rem;
  font-style: normal;
  list-style-position: outside;
  list-style-type: decimal;
}

ol li ul {
  margin-top: 1rem;
}

ol li ul li {
  list-style-type: disc;
}

li,
li > li{
  margin-bottom: 1.4rem;
}

.title {
  position: relative;
  left: -10%;
  word-break: keep-all !important;
  white-space: nowrap !important;
}

li::marker {
    font-weight: bold;
  font-size: 1.3rem;
}
details {
  border-radius: 8px;
  padding: 0 0.5rem;
}
details summary {
  cursor: pointer;
  text-decoration: underline dashed 2px palevioletred;
}
.drawlist {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  gap: 0.5rem;
  justify-content: space-evenly;
  flex: 1;
  padding-bottom: 0.5rem;
}
.willdraw, .willnotdraw {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: #2c2631;
  padding: 0.5rem;
  border-radius: 8px;

}
.willdraw li, .willnotdraw li {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.drawlist li {
  list-style: disc inside;
  position: relative;
  left: 0;

}

#doc a:hover:not(a[title*=" "]) {
  background-color: transparent;
}

*:target {
  animation: target-attention 2.1s, target-blink 1.8s infinite 2.1s ease-in;
  color: inherit;
}

@media (max-width:730px) {
  #outer-container {
    max-width: inherit;
    left: inherit;
    transform: translateX(0);
  }
  .drawlist {
    flex-direction: column;
  }
  .willdraw li, .willnotdraw li {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}