---
import { shorthash, longhash, date, commitMsg } from "../utils";
---

<a href={`https://github.com/deadproprietary/futon-reform/commit/${longhash}`}>{shorthash}</a> built {date};
<br/><em>"{commitMsg}"</em>