---
/**
    Commit component
    Displays the GitHub shorthash commit of the current build + message, and links to it.
*/
import { shorthash, longhash, date, commitMsg } from "../utils";
---

currently running commit <a href={`https://github.com/deadproprietary/futon-reform/commit/${longhash}`}>{shorthash}</a> built {date};
<br/><em>"{commitMsg}"</em>