---
const {
    hideId,
    closetext
} = Astro.props;
---

<input type="checkbox" class="hide-checkbox" id=`hider-${hideId}`>
<label for=`hider-${hideId}`>{closetext}</label>
<div>
    <slot/>
</div>


<style define:vars={{hideId}}>
    div {
        transition: 0.2s;
        border-radius: 5px;
    }
    input, label {
        transition: 0.2s;
        position: relative;
        float: right;
    }
    label {
        z-index: 1;
        transition: 0.2s;
        writing-mode: sideways-lr;
        font-size: 1.5rem;
        top: 1rem;
        -webkit-text-stroke: 2px #974444;
        -webkit-text-fill-color: #e8c2c2;
        paint-order: stroke;
    }
    
    label:hover + div {
        transition: 0.2s;
        pointer-events: none;

        filter: opacity(50%);
        box-shadow: #ff9494 0 0 6px;
    }
    
    .hide-checkbox {
        transition: 0.2s;
        display: none;
    }

    .hide-checkbox:checked + label,
    .hide-checkbox:checked + label + div,
    .hide-checkbox:checked {
        transition: 0.2s;
        display: none;
    }
    
    @media (max-width: 730px){
        label {
            font-size: 2rem;
            color: #250303;
        }
    }
</style>