---
/**
    Notice component
    An encased element to display notices, warnings and other things.
*/

const {
    type
} = Astro.props;

let color, accent, shadow;
let noticeText;

switch (type) {
    case 'warning':
        noticeText = 'Warning';
        accent = '#ef9e24';
        color = '#e67421';
        shadow = '#301f12';
        break;
    case 'danger':
        noticeText = 'Danger';
        accent = '#ff2929';
        color = '#bc0d0d';
        shadow = '#301212';
        break;
    case 'important':
        noticeText = 'Important';
        accent = '#a929ff';
        color = '#8317a6';
        shadow = '#291230';
        break;
    default:
        noticeText = 'Notice';
        accent = '#025575';
        color = '#198bbc';
        shadow = '#121430';
}
---
<div class="notice-outer">
    <div class="notice">
        <span class="attention">{noticeText}</span>
        <div class="body"><slot/></div>
    </div>
</div>

<style define:vars={{color, accent, shadow}}>

    .notice-outer {
        margin: 0;
        padding: 0;
    }
    .notice {
        background: var(--color);
        border-left: 0.5rem solid var(--accent);
        padding: 0.5rem 0.8rem;
        
        margin: 1.5rem;
    }
    .attention {
        -webkit-text-fill-color: #eee;
        -webkit-text-stroke: 4px var(--shadow);
        paint-order: stroke;
        
        font-weight: bold;
        font-size: 1.5rem;
    }
    .body {
        -webkit-text-fill-color: #eee;
        -webkit-text-stroke: 2px var(--shadow);
        paint-order: stroke;

        p {
           font-size: 1.2rem !important;
        }
        a:hover {
            filter: drop-shadow(0 0 0px #00000000) !important;
        }
        :last-child {
            margin-bottom: 0;
        }
        ul {
            margin: 0;
            color: #ddd;
        }
    }
    @media (max-width:730px) {
        .notice {
            width: 95%;
            margin-left: 0;
        }
        .body {
            p {
                font-size: 1.5rem !important;
            }
        }
        .attention {
            font-size: 2rem;
        }
    }
</style>