---
/** 
    Stick component
    A component to display an image element in the bottom right. Hello!
*/

import StickPNG from '../assets/stick.png'

interface Props {
    hide?: boolean;
} 
const  {
    hide
} = Astro.props;


let hiddenVar;
if (hide) {hiddenVar = 'none';} else {hiddenVar = 'flex';}
---
<div id="stickwrapper">
    <img src={StickPNG.src} alt="Stick PNG Image"/>
</div>

<style define:vars={{hiddenVar}}>
    div#stickwrapper{
        transition: 0.03s;
        display: var(--hiddenVar);
        justify-content: right;
        z-index: -999;
        position: fixed;
        bottom: 0;
        right: 0;
        
        img {
            position: relative;
            height: auto;
            width: calc(25vw + 25vh);
        }
    }
    
    @media screen and (max-width: 1300px) {
        div#stickwrapper{
            opacity: clamp(0.4, calc((var(--vp-width) - 400) / 1000), 1);
        }
    }
</style>

<script>
    // uncheck ALL boxes on page load (meant for the sidebar)
    let allCheckboxes = document.querySelectorAll('input[type=checkbox]');
    [].forEach.call(allCheckboxes, function (checkbox) {
        checkbox.checked = checkbox.defaultChecked;
    });

    // get viewport width for reactive stick opacity
    let r = document.querySelector(':root');
    function logWidth() {
        let width = window.innerWidth;
        let opacity = getComputedStyle(document.getElementById("stickwrapper")).opacity;
        r.style.setProperty('--vp-width', width);
        console.log(width, opacity) //DEBUG
    }
    window.addEventListener('resize', logWidth);
    logWidth();
</script>