---
import { Image } from 'astro:assets'
import StickPNG from '../assets/stick.png'

interface Props {
    hide?: boolean;
} 
const  {
    hide
} = Astro.props;

let hiddenVar;
if (hide) {hiddenVar = 'none';} else {hiddenVar = 'flex';}
---
<div id="stickwrapper">
    <Image src={StickPNG} alt="Stick PNG Image" format="png" />
</div>

<style define:vars={{hiddenVar}}>
    div#stickwrapper{
        transition: 0.03s;
        display: var(--hiddenVar);
        justify-content: right;
        z-index: -999;
        position: fixed;
        bottom: 0;
        right: 0;
        
        img {
            position: relative;
            height: auto;
            width: 70%;
        }
    }
    
    @media screen and (max-width: 1300px) {
        div#stickwrapper{
            opacity: clamp(0.4, calc((var(--vp-width) - 400) / 1000), 1);
        }
    }
</style>