---
/**
    SidebarButton component
    Main component used for links in the Sidebar component.
    Consists of an icon and an <a> link.
*/
interface Props {
    link: string;
    iconName?: string;
    size?: string;
}

const {
    link,
    iconName = "mingcute:xls-line",
    size = "2.75em"
} = Astro.props;

import { Icon } from 'astro-icon/components';
---
<a href={link}>
    <div class="panel">
        <div class="panel-center-icon"><Icon name={iconName} size={size}/></div>
        <h1><slot/></h1>
    </div>
</a>

<style define:vars={{size}}>
    
    .panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 5px 0 2px;
        height: 3em;
    }
    .panel-center-icon {
        position: relative;
        height: 3em;
        width: 3em;
    }
    h1 {
        font-size: 2.25em;
        padding-right: 5px;
    }
    svg {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
        color: #1e1d21;
        filter: drop-shadow(0.063em 0px 0px #d3c3e9)
                drop-shadow(0px 0.063em 0px #d3c3e9)
                drop-shadow(-0.063em 0px 0px #d3c3e9)
                drop-shadow(0px -0.063em 0px #d3c3e9);
   
    }
    svg::before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    
    @media (max-height: 560px) {
        
        h1 {
            position: relative;
            font-size: 0.8em;
            text-align: center;
            padding: 2px 4px;
        }
        .panel {
            margin: 0;
            padding: 0;
            flex-direction: column;
        }
        svg {
            position: relative;
            height: 3em;
            width: 3em;
        }
        
        a {
            width: 3.5em;
            height: 3.5em;
            padding: 0.4em 0.6em 0.9em 0.6em;
            margin: -0.4em -0.6em -0.9em -0.6em;
        }
        
    }
    
</style>