@use "/src/styles/colors";

@keyframes mover {
  0% {opacity: 100%; transform: translateX(0em);}
  85% {opacity: 1%;}
  100% {opacity: 1%; transform: translateX(0.75em);}
}
@keyframes mover2 {
  0% {opacity: 100%; transform: translateX(0em);}
  85% {opacity: 1%;}
  100% {opacity: 1%; transform: translateX(1.25em);}
}

.sidebar-header {
  margin: 0.625em;
  display: block;
  height: 2em;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  right: 0;
  width: 90%;
  margin: 0.5em 0.5em 0 1em;
}

.sidebar-footer {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0.5em;

  p, a {
    font-size: 0.688rem;
    color: #695d71;
  }
}

/* ------------ */
:root {
  --transition: 0.163s;
  --lineduration: 2s;
  font-family: "Atkinson Hyperlegible";
}

.sidebar-pusher {
  transition: var(--transition);
  animation-timing-function: ease-out;
  position: relative;
  width: 0;
}
.sidebar-input input:hover ~ .sidebar-pusher {
  width: 0.813em;
}
.sidebar-input input[type="checkbox"]:checked ~ .sidebar-pusher {
  width: 16em;
}

.sidebar-wrapper{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: var(--transition);
  animation-timing-function: ease-out;
  position: fixed;
  top: 0;
  left: -16em;
  width: 16em;
  height: 100%;
  z-index: 99;
  background:#1e1d21;
}

/* FUCK */
.sidebar-input input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 2.6rem;
  z-index: 999;
  cursor: e-resize;
}
.sidebar-edge {
  transition: var(--transition);
  animation-timing-function: ease-out;
  position: fixed;
  top: 0;
  left: -0.063em;
  width: 0.438em;
  height: 100%;
  background: linear-gradient(90deg, rgba(30,29,33,1) 90%, rgba(211,195,233,1) 100%);
  z-index: 98;
  filter: drop-shadow(0px 0px 0.5rem #d3c3e9);
}
.sidebar-input input:hover ~ .sidebar-edge {
  width: 1.25em;
  filter: drop-shadow(0px 0px 0.875rem rgba(211, 195, 233, 0.97));
}
.sidebar-input input[type="checkbox"]:checked ~ .sidebar-edge {
  left: 15.313em;
  width: 1.563em;
}

.buttonline1, .buttonline2, .buttonline3, .buttonline4 {
  transition: var(--transition);
  position: fixed;
  top: 0;
  left: 0.313em;
  height: 100%;
  width: 0.063em;
  z-index: 99;
  pointer-events: none;
  background: rgba(211, 195, 233, 0.38);
  animation-name: "mover";
  animation-duration: var(--lineduration);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-delay: calc((var(--lineduration)/4) * var(--i) - 3s);
  -webkit-animation: mover var(--lineduration) backwards infinite;
  -webkit-animation-delay: calc((var(--lineduration)/4) * var(--i) - 3s);
}
.sidebar-input input:hover ~ .buttonline1,
.sidebar-input input:hover ~ .buttonline2,
.sidebar-input input:hover ~ .buttonline3,
.sidebar-input input:hover ~ .buttonline4 {
  left: 1.125em;
  animation-name: "mover2";
  animation-duration: calc(var(--lineduration)/2);
  animation-delay: calc((var(--lineduration)/8) * var(--i) - 3s);
  -webkit-animation-name: mover2;
  -webkit-animation-duration: calc(var(--lineduration)/2);
  -webkit-animation-delay: calc((var(--lineduration)/8) * var(--i) - 3s);
}
.sidebar-input input[type="checkbox"]:checked ~ .buttonline1,
.sidebar-input input[type="checkbox"]:checked ~ .buttonline2,
.sidebar-input input[type="checkbox"]:checked ~ .buttonline3,
.sidebar-input input[type="checkbox"]:checked ~ .buttonline4 {
  left: 16.75em;
}

.sidebar-arrow {
  transition: var(--transition);
  z-index: 100;
  position: fixed;
  top: 50%; left: 1em;
  opacity: 1;
  transform: translateY(-50%);
  width: 0; height: 0;
  border-top: 1.563em solid transparent;
  border-bottom: 1.563em solid transparent;
  border-left: 0.813em solid #131219;
  filter:
          drop-shadow(0.063rem 0px 0px #d3c3e970)
          drop-shadow(0px 0.063em 0px #d3c3e970)
          drop-shadow(-0.063rem 0px 0px #d3c3e970)
          drop-shadow(0px -0.063rem 0px #d3c3e970);
}
.sidebar-input input:hover ~ .sidebar-arrow {
  opacity: 0;
  left: 1.625em;
}
.sidebar-input input[type="checkbox"]:checked ~ .sidebar-arrow {
  opacity: 0;
  left: 16.438em;
}

.linktext {
  transition: var(--transition);
  pointer-events: none;
  font-weight: bold;
  font-size: 3rem;
  position: fixed;
  color: #1e1d21;
  left: -0.125em;
  top: 50%;
  writing-mode: sideways-lr;
  transform: translateY(-50%);
  letter-spacing: -0.05rem;
  opacity: 0;
  z-index: 100;
  -webkit-text-stroke: 0.063rem #d3c3e9;
}
.sidebar-input input:hover ~ .linktext {
  opacity: 100%;
  left: 0.3em;
}
.sidebar-input input[type="checkbox"]:checked ~ .linktext {
  left: 5.6em;
  opacity: 100%;
}

.overlay {
  transition: var(--transition);
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background: #000;
  z-index: 97;
  opacity: 0;
  pointer-events: none;
}

.sidebar-input input[type="checkbox"]:checked {
  left: 16.8rem;
  width: 100%;
  height: 100%;
}
.sidebar-input input[type="checkbox"]:checked ~ .sidebar-wrapper {
  left: 0;
}
.sidebar-input input[type="checkbox"]:checked ~ .overlay {
  opacity: 40%;
}

/* -------------- */

.nottheme-div-sidebar {
  position: absolute !important;
  left: 0;
}

.nottheme-theming {
  position: absolute;

  .nottheme-theming-name {
    font-size: 0.875rem;
  }
  .nottheme-theming-select {
    font-size: 0.875rem;
    border-radius: 0.313em;
    background: colors.$gruvbox-bg;
    color: colors.$gruvbox-fg;
    width: 11em;
    border: 0.063em solid colors.$gruvbox-purp;
    filter: drop-shadow(0 0 0 colors.$gruvbox-purp);
  }
  .nottheme-theming-select:hover {
    filter: drop-shadow(0 0 0.138rem colors.$gruvbox-fg);
  }
}

@media (max-height: 560px){
  .sidebar-inner {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.625em;
    row-gap: 5vh;
    margin: 0;
  }

  .sidebar-inner hr {
    display: none;
  }
}

@media (max-width: 730px) or (orientation: portrait) {
  
  /* hover */
  .sidebar-input input:hover ~ .sidebar-pusher {
    width: 0;
  }
  .sidebar-input input:hover ~ .sidebar-edge {
    width: 0.438em;
    filter: drop-shadow(0px 0px 0.5rem #d3c3e9);
  }
  .sidebar-input input:hover ~ .buttonline1,
  .sidebar-input input:hover ~ .buttonline2,
  .sidebar-input input:hover ~ .buttonline3,
  .sidebar-input input:hover ~ .buttonline4 {
    left: 0.313em;
    animation-name: "mover";
    animation-duration: var(--lineduration);
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-delay: calc((var(--lineduration) / 4) * var(--i) - 3s);
    -webkit-animation: mover var(--lineduration) backwards infinite;
    -webkit-animation-delay: calc((var(--lineduration)/4) * var(--i) - 3s);
  }
  .sidebar-input input:hover ~ .sidebar-arrow {
    opacity: 1;
    left: 1em;
  }
  .sidebar-input input:hover ~ .linktext {
    opacity: 0;
    left: 0;
  }

  /* checked */
  .sidebar-input input[type="checkbox"]:checked ~ .sidebar-edge {
    filter: drop-shadow(0px 0px 0.875rem rgba(211, 195, 233, 0.97));
  }
  .sidebar-input input[type="checkbox"]:checked ~ .buttonline1,
  .sidebar-input input[type="checkbox"]:checked ~ .buttonline2,
  .sidebar-input input[type="checkbox"]:checked ~ .buttonline3,
  .sidebar-input input[type="checkbox"]:checked ~ .buttonline4 {
    left: 16.75em;
    animation-name: "mover2";
    animation-duration: calc(var(--lineduration)/2);
    animation-delay: calc((var(--lineduration)/8) * var(--i) - 3s);
    -webkit-animation-name: mover2;
  }
}